*{
    box-sizing: border-box;
}

body{
    display: flex;
    flex-direction: column;
    background-color: #e6e6e6;
}
.navbar {

}
#logo{
    height: 105px;
    width: 105px;

}
.row {
    width: 100%;
}

