*{
    box-sizing: border-box;
}

body{
    display: flex;
    margin: 1rem;
    flex-direction: column;
    background-color: #e6e6e6;
    font-family: 'Abel', sans-serif;
}
h1, h2, h3, h4, h5{
    font-family: 'Anton', sans-serif;
}
.row .codeup {
    font-family: 'Abel', sans-serif;
    font-size: 2.6rem;
}
div .row>.logo {
    background-color: #e6e6e6;

}
#logo{
    height: 105px;
    width: 105px;
    margin: 0 auto;
    position: relative;
    bottom: 15px;

}
.row {
    width: 100%;
}


.visual-design {
    font-size: 2.7rem;
}
.circles {
    align-content: center;
    justify-content: center;
}
.circles .btn {
    flex-wrap: wrap;
    height: 111px;
    width: 111px;
    border-radius: 50%;
    border: 6px solid white;

}

a {
    text-decoration: none;
    color:black
}
.row #circles {
    border-radius: 50%;
}

